@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

*, *::after, *::before {
	box-sizing: border-box;
}

.body-container2 {
	width: 1300px;
	margin: 20px auto;
	margin-bottom: 60px;
	color: #434347;
}

.body-main {
	width: 100%;
}

.body-sep {
	display: flex;
	
	width: 100%;
}

.body-left, .body-right {
	width: 500px;
}

.body-left {
	padding-left: 30px;
	width: 50%;
}

.body-right {
	padding-right: 30px;
	display: flex;
	justify-content: center;
}

.body-right form {
	width: 500px;
}

.lg-img img {
	height: 530px;
	width: 500px;
	object-fit: cover;
}

.md-img img {
	width: 200px;
	height: 200px;
	cursor: pointer;
	object-fit: cover;
}

.sm-img img {
	width: 80px;
	height: 80px;
	cursor: pointer;
	object-fit: cover;
}

.img-buy img {
	border-radius: 10px;
}

.imgs {
	margin-top: 15px;
	margin-left: 10px;
	display: flex;
}

.imgs .imgs-detail {
	margin-right: 12px;
}

.body-right .stock {
	display: flex;
	justify-content: center;
}

.body-right .stock-msg {
	font-size: 18px;
	font-weight: bold;
	color: gray;
	margin-bottom: 25px;
}

.price, .point, .delivery, .option, .buttons {
	margin-top: 30px;
	color: #434347;
}

.brand {
	margin-bottom: 8px;
	font-size: 15px;
}

.brand div {
	color: #A6A6A6;
}

.productName {
	font-size: 25px;
	font-weight: bold;
}

.price, .point, .buttons, .button-buy {
	display: flex;
}

.price .discountRate {
	color: #DB9700;
	font-size: 20px;
	font-weight: bold;
}

.price div:last-child {
	margin-left: 15px;
}

.price .discounted-price {
	font-size: 20px;
	font-weight: bold;
}

.price .original-price {
	font-size: 14px;
	text-decoration: line-through;
}



.point, .delivery, .option, .total-price, .buttons {
	font-size: 14px;
}

.point div:first-child {
	font-size: 15px;
	font-weight: bold;
	margin-right: 140px;
}

.delivery {
	display: flex;
	margin-top: 40px;
}

.delivery div:first-child {
	font-size: 15px;
	font-weight: bold;
	margin-right: 170px;
}

.option {
	font-weight: bold;
	font-size: 15px;
}

.option-tab1, .option-tab2 {
	width: 70%;
	height: 38px;
	margin-top: 15px;
}

.option-tab1 option, .option-tab2 option {
	margin-left: 10px;
	border: 1px solid #CFCFCF;
}

hr {
	border-bottom: 1px solid #A6A6A6;
	margin-top: 40px;
	width: 500px;
}

.total-price {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	margin-top: 20px;
}

.total-text {
	font-weight: bold;
	font-size: 18px;
}

.total-detail {
	font-size: 18px;
}

.total-detail .product-totalAmount {
	color: #E4B075;
	font-weight: bold;
}

.input-group-text {
	padding: 2px 9px !important;
}

.buttons .btn {
	font-size: 15px;
	font-weight: bold;
	padding: 10px 75px;
}

.buttons .button-wish {
	margin-left: 5px;
}

.buttons .btnbtn-productCart {
	border: 1px solid #BDBDBD;
	background-color: white;
	margin: 0 20px;
}

.buttons .btn-buySend {
	border: none;
	background: #E4B075;
	color: white;
}

.buttons .wish {
	padding-right: 10px;
	padding-top: 5px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	font-size: 24px;
	font-weight: bold;
}

select, button {
	cursor: pointer;
}

.qty-plus, .qty-minus, .qty-remove {
	cursor: pointer;
}

.qty-plus:hover, .qty-minus:hover, .qty-remove:hover {
	color: #0b83e6;
}

.qty-right {
	display: flex;
	justify-content: space-between;
}

.nav-tabs .nav-link {
	min-width: 433px;
	color: #BDBDBD;
	font-weight: bold;
	border: none;
	font-size: 18px;
	padding-bottom: 15px;
	text-align: center;
	cursor: pointer;
}

.tab-active {
	border-bottom: 3px solid #E4B075 !important;
	color: #E4B075 !important;
	outline: none;
}

.tab-content {
	border: none;
}

.tab-pane {
	min-height: 300px;
}

.recomm-product .recomm-title {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 3px solid #434347;
	padding-bottom: 16px;
}

.recomm-product .recomm-imgs {
	margin: 25px 20px 100px 20px;
	display: flex;
	justify-content: space-between;
}

.recomm-product .recomm-img:hover {
	cursor: pointer;
}

.recomm-product .recomm-img img {
	width: 180px;
	height: 200px;
	cursor: pointer;
	object-fit: cover;
	border-radius: 5px;
}

.recomm-img div {
	width: 180px;
	margin-top: 17px;
}

.recomm-img .recomm-price span {
	margin-right: 5px;
	font-weight: bold;
}

.recomm-img .recomm-price span:first-child {
	color: #EBB078;
}

.review {
	margin-bottom: 100px;
}

.review-title p {
	font-size: 20px;
	border-bottom: 3px solid #434347;
	padding-bottom: 18px;
	margin-bottom: 0;
}

.star-sort {
	display: flex;
}

.star-box {
	display: flex;
	align-items: center;
	border-bottom: none;
}

.score-star {
	font-size: 0;
	letter-spacing: -4px;
}

.score-star .item {
	font-size: 22px;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	color: #BDBDBD;
}

.score-star .item:first-child {
	margin-left: 0;
}

.score-star .on {
	color: #E4B075;
}

label .item {
	width: 22px;
}

.reviewSort-area .reviewSortNo {
	border: none;
	font-size: 18px;
}

.reviewSort-area {
	display: flex;
	align-items: center;
}

.review-content {
	padding-bottom: 20px;
}

.review-content .review-top {
	margin-top: 18px;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
}

.review-content .review-top div:first-child {
	font-size: 18px;
}

.review-content .review-top div:last-child {
	margin-right: 15px;
}

.review-content .review-top-left {
	display: flex;
}

.review-content .review-top-left i {
	letter-spacing: -5px;
}

.review-content .review-top-left i:last-child {
	margin-right: 15px;
}

.review-content .review-option {
	margin: 10px 0 18px 0;
	font-size: 18px;
	color: #BDBDBD;
	font-weight: bold;
}

.review-content .review-img-content {
	display: flex;
	font-weight: bold;
	font-size: 18px;
}

.review-content .review-img-content img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-right: 20px;
}

.qna .qna-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid #434347;
}

.qna .qna-title {
	display: flex;
}

.qna .qna-title p {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}

.qna-bottom {
	padding: 18px 16px;
	border-bottom: 1px solid #DEE2E6;
}

.qna-bottom .qnaCon-top {
	display: flex;
	justify-content: space-between;
}

.qna-bottom .qnaCon-top .qnaCom {
	margin-right: 10px;
}

.qna-bottom .qnaCon-top label, .qnaCon-bottom div {
	font-size: 18px !important;
}

.qna-bottom .qnaCon-top .qnaCom {
	background: #474747;
	border-radius: 5px;
	color: white;
	padding: 3px 8px;
}

.qna-bottom .qnaCon-bottom {
	margin-top: 15px;
}

.deleteReview, .notifyReview {
	cursor: pointer;
	padding-left: 5px;
}

.deleteReview:hover, .notifyReview:hover {
	font-weight: 500;
	color: #2478FF;
}

.product-content {
	text-align: center;
}

.product-content img {
	max-width: 1000px;
}

.btnQuestion {
	background: #E4B075;
	color: white;
	font-weight: bold;
}

.qna-form textarea {
	width: 100%;
	height: 75px;
	resize: none;
}

.qna-form .img-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 54px);
	grid-gap: 2px;
}

.qna-form .img-grid .item {
	object-fit: cover;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid #c2c2c2;
	cursor: pointer;
}

.deleteQuestion, .notifyQuestion {
	cursor: pointer;
	padding-left: 5px;
}

.deleteQuestion:hover, .notifyQuestion:hover {
	font-weight: 500;
	color: #2478FF;
}



.img-more {
	width: 1300px;
}

#detail.hidden {
	height: 1300px;
	overflow: hidden;
}

#btnMore {
	font-size: 20px;
	border-radius: 10px;
	padding: 30px 30px;
	background: white;
	display: flex;
	justify-content: center;
	width: 1300px;
	margin-bottom: 50px;
	color: #E4B075;
}

#btnMore:hover {
	text-decoration: none;
}

.detailMore {
	position: relative;
}

.detailMore:before {
	content: '';
	position: absolute;
	top: -90px; // 맞게 조절 left : 120px;
	display: block;
	width: 1300px;
	height: 96px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.8) 66%, rgba(255, 255, 255, 0.94) 83%,
		rgba(255, 255, 255, 0.98) 91%, #ffffff);
}

.review-imgbox {
	margin-left: 16px;
}

.reviewImg {
	width: 130px;
	height: 130px;
	border-radius: 10px;
}

.review-nickName {
	vertical-align: middle;
}

.answer-content {
	font-size: 16px;
}

.answer-context {
	padding-left: 8px;
}

.answer-nick {
	background: #474747;
	border-radius: 5px;
	color: white;
}

.page-link {
	border: none;
	color: #434347;
}

.active > .page-link {
	background: #434347;
	border-radius: 50%;
}

.pagination {
	--bs-pagination-disabled-bg: none;
}



.btn_gotop {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 90px;
	z-index: 999;
	border: 1px solid #ccc;
	outline: none;
	background-color: white;
	color: #333;
	cursor: pointer;
	padding: 15px 20px;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top_arrow {
	width: 50px;
	height: auto;
}

.glyphicon-chevron-up {
	display: none;
}