* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-container {
    width: 100%;
    min-height: 1000px;
    padding: 50px 100px;
}

.btn-main {
    background-color: #434347;
}

.btn-point {
    background-color: #E4B075;
}

ul {
    list-style-type: none;
}

