@charset "UTF-8";

main .list-h {
    display: flex;
    flex-wrap: wrap;
}

main .list-w > li {
    padding-bottom: 15px;
}

main .list-container {
    width: 80%;
    margin: 0 auto;
}

main .left {
    width: 20%;
    padding: 15px;
}

main .left > div {
    padding: 15px;
}

main .right {
    width: 80%;
    padding: 15px;
}

main .right > * {
    margin-bottom: 15px;
}

main .product-info > p {
    margin: 0;
}

main .left > *:not(:last-child) {
    margin-bottom: 15px;
}

main .side-box {
    border: 2px solid #eee;
}

main .side-box h4 {
    margin-bottom: 20px;
}

main .left > div > ul {
    padding: 0;
    padding-left: 10px;
    margin-bottom: 0;
}

main .left div ul li:last-of-type {
    padding-bottom: 0;
}

main .subcategory-box {
    min-height: 40px;
    border: 1px solid #eee;
}

main .subcategory-list {
    margin: 0;
}

main .subcategory-list > li {
    padding: 10px;
}

main .sort-box {
    justify-content: space-between;
    align-items: center;
}

main .product-box {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 15px;
}

main .product-img-box {
    width: 100%;
}

main .product-img-box > img {
    width: 100%;
}

main .product-box:nth-child(3n) {
    margin-right: 0;
}

main .product-info > p:nth-child(2) {
    font-size: 1.5rem;
}

main .product-info > p:last-child, p:first-child {
    font-size: 1rem;
}

main .page-box {
    text-align: center;
}

main .page-box > span, main .page-box > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
}

main .page-box > a, a:link, a:visited {
    text-decoration: none;
}

main .dropdown {
    position: relative;
    width: 100px;
}

main .dropdown-menu-han {
    position: absolute;
    text-align: center;
    width: 80%;
    padding: 0;
    border: 1px solid #434347;
}

main .menu-hidden {
    border: none;
}

main .menu-shown {
    border: 1px solid #434347;
}

main .menu-hidden > .menu-item {
    display: none;
}

main .menu-shown > .menu-item {
    display: block;
}

main .dropdown-button, .menu-item {
    background: white;
    padding: 5px;
}

main .dropdown-button {
    border: 1px solid #434347;
    width: 80%;
    border-radius: 5px;
}

main .menu-item:hover {
    filter:brightness(0.5);
}

main ul.list-w > li:hover, ul.list-h > li:hover {
    color: #E4B075;
    cursor: pointer;
}

main .selected {
	color: #E4B075;
}