@charset "UTF-8";

main .title {
	text-align: center;
}

main .list-h {
    display: flex;
    flex-wrap: wrap;
}

main .list-v > li {
    padding-bottom: 15px;
}

main .list-container {
    width: 80%;
    margin: 0 auto;
}

main .left {
    width: 20%;
    padding: 15px;
}

main .left > div {
    padding: 15px;
}

main .right {
    width: 80%;
    padding: 15px;
}

main .right > * {
    margin-bottom: 15px;
}

main .product-info > p {
    margin: 0;
}

main .left > *:not(:last-child) {
    margin-bottom: 15px;
}

main .side-box {
    border: 2px solid #eee;
    width: 100%;
}

main .side-box h4 {
    margin-bottom: 20px;
}

main .left > div > ul {
    padding: 0;
    padding-left: 10px;
    margin-bottom: 0;
}

main .left div ul li:last-of-type {
    padding-bottom: 0;
}

main .subcategory-box {
    min-height: 40px;
    border: 1px solid #eee;
}

main .subcategory-list {
    margin: 0;
}

main .subcategory-list > li {
    padding: 10px;
}

main .sort-box {
    justify-content: space-between;
    align-items: center;
}

main .product-box {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 15px;
}

main .product-img-box {
    width: 100%;
}

main .product-img-box > img {
    width: 100%;
}

main .product-box:nth-child(3n) {
    margin-right: 0;
}

main .product-info > p:nth-child(2) {
    font-size: 1.5rem;
}

main .product-info > p:last-child, p:first-child {
    font-size: 1rem;
}

main .page-box {
    text-align: center;
    display: flex;
    justify-content: center;
}

main .page-box span, main .page-box a {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
}

main .page-box span, main .page-box a:hover {
	color: #E4B075;
}

main .page-box a, a:link, a:visited {
    cursor: pointer;
    text-decoration: none;
}

main .dropdown-petpal {
    position: relative;
    width: 100px;
}

main .dropdown-menu-petpal {
    position: absolute;
    text-align: center;
    width: 80%;
    padding: 0;
    border: 1px solid #434347;
}

main .menu-hidden {
    border: none;
}

main .menu-shown {
    border: 1px solid #434347;
}

main .menu-hidden > .menu-item {
    display: none;
}

main .menu-shown > .menu-item {
    display: block;
}

main .dropdown-button-petpal, .menu-item {
    background: white;
    padding: 5px;
}

main .dropdown-button-petpal {
    border: 1px solid #434347;
    width: 80%;
    border-radius: 5px;
}

main .menu-item:hover {
    filter:brightness(0.5);
    cursor: pointer;
}

main ul.list-v > li > a:hover, ul.list-h > li > a:hover {
    color: #E4B075;
    cursor: pointer;
}

main .selected {
	color: #E4B075;
}

main .price-input {
	width: 100%;
}

main .price-input input {
	width: calc(40% - 10px);
    background: white;
    padding: 5px;
	border: 1px solid #434347;
    border-radius: 5px;	
}


main .search-button {
    background: white;
    padding: 5px;
	border: 1px solid #434347;
    border-radius: 5px;	
}

main input.checkbox + label.checkbox {
	width: 13px;
	height: 13px;
	border: 2px solid #434347;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	border-radius: 3px;
	user-select: none /* 드래그 금지 */
}

main input.checkbox:checked + label.checkbox {  /* 체크되었을 때 */
    background: #E4B075;
}

main i.order:hover {
	cursor: pointer;
}

main .product-box:hover {
	cursor: pointer;
}

p {
	margin: 0;
}

.text-brand {
	font-size: 13px;
	font-weight: 900;
}

p.text-name {
	font-size: 15px;
	margin-bottom: 5px;
}

.text-price {
	font-size: 13px;
	color: #A1A1A1;
	text-decoration: line-through;
}

.text-discountRate {
	color: #EA333E;
	margin-right: 4px;
}
.text-discountRate::after {
	content: '%';
}

.text-discountedPrice {
	font-weight: 900;
}

.text-discountedPrice::after {
	content: '원';
}

.text-rate {
	font-size: 12px;
	color: #A1A1A1;
}