
.body-container {
    max-width: 1300px;
    margin-top: 140px;
    margin-left: 80px;
}

.body-title h3 {
    font-size: 26px;
}
body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 20px;
}

.customer-info-management {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 140px 40px;
}

.customer-info-management h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.customer-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.customer-info-table th, .customer-info-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.customer-info-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.customer-info-table tr:hover {
    background-color: #f1f1f1;
}

.action-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.action-btn:hover {
    background-color: #45a049;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-btn {
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 2px;
}

.pagination-btn.current-page {
    background-color: #4CAF50;
    color: white;
}

.search {
    margin-top: 20px;
    text-align: center;
}

.search-field, .search-query, .search-btn {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #45a049;
}

