<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.petpal.mapper.MypageMapper2">

	<select id="myPointList" parameterType="Long" resultType="com.shop.petpal.domain.Mypage2">
		SELECT memberNum,regDate,classify,point,balance
		FROM userPoint
		WHERE memberNum=#{memberNum};
	</select>

</mapper>