<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.petpal.mapper.MypageMapper2">
	
	<!-- mypoint -->
	<!-- 포인트 리스트 -->
	<select id="myPointList" parameterType="long"
		resultType="com.shop.petpal.domain.Mypage2">
		SELECT memberNum, regDate, classify, point, balance
		FROM
		userPoint
		WHERE memberNum = #{memberNum}
	</select>

	<!-- 페이징처리를 위한 데이터 갯수 -->
	<select id="pointDataCount" parameterType="long"
		resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM userPoint
		WHERE memberNum = #{memberNum}
	</select>

	<!-- 포인트 리스트 날짜 검색 -->
	<select id="myPointListPaged" parameterType="map"
		resultType="com.shop.petpal.domain.Mypage2">
		SELECT memberNum, TO_CHAR(regDate,'YYYY-MM-DD')regDate, classify, point, balance
		FROM userPoint
		WHERE memberNum = #{memberNum}
		<if test="startDate != null and endDate != null">
			AND regDate BETWEEN #{startDate} AND #{endDate}
		</if>
		ORDER BY regDate DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<!-- 포인트 총 금액 -->
	<select id="myTotalPoint" parameterType="long" resultType="Integer">
		SELECT BALANCE
		FROM userPoint
		WHERE regDate = (
    	SELECT MAX(regDate)
    	FROM userPoint
		)
		AND memberNum = #{memberNum}
	</select>


	<!-- mymodify -->
	<!-- 회원정보 찾기 -->
	<select id="findByMemberNum" parameterType="long" resultType="com.shop.petpal.domain.Member">
        SELECT TO_CHAR(birth,'YYYY-MM-DD')birth,address1,address2,tel,nickname,userName,postalcode 
        FROM member2
        WHERE memberNum = #{memberNum}
    </select>
	<select id="findByMemberEmail" parameterType="String" resultType="com.shop.petpal.domain.Member">
        SELECT * FROM member1
        WHERE email = #{email}
    </select>
	<!-- 회원정보 수정 Member의 도메인을 사용 -->
	<update id="updateMember" parameterType="com.shop.petpal.domain.Member">
		UPDATE member2
		SET 
			birth = #{birth},
			tel = #{tel},
			nickname = #{nickname},
			userName = #{userName}
		WHERE memberNum = #{memberNum}
	</update>
	
	<!-- 비밀번호 수정 -->
	<update id="updateMemberPassword" parameterType="com.shop.petpal.domain.Member">
   		UPDATE member2
    	SET password = #{password}
    	WHERE memberNum = #{memberNum}
	</update>
	
	<!-- 아이디 찾기 -->
	
	
	
</mapper>