<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.petpal.mapper.ProductListMapper">
	
	<select id="listCategory" parameterType="Integer" resultType="map">
		SELECT categoryNum, categoryName, sortOrder, species
		FROM category
		WHERE parentCategory IS NULL
			AND species = #{species}
		ORDER BY sortOrder ASC
	</select>
	
	<select id="listSubCategory" parameterType="map" resultType="map">
		SELECT categoryNum, categoryName, parentCategory, sortOrder, species
		FROM category
		WHERE parentCategory = #{categoryNum}
        	AND species = #{species}
    	ORDER BY sortOrder ASC
	</select>
	
	<!-- 신상품 -->
	<select id="listRecentProducts" parameterType="map" resultType="com.shop.petpal.domain.Product">
		SELECT p.productNum, productName, productClass, price, discountRate, discountAmount,
			thumbnail, species, brand, regDate, AVG(rating)
		FROM (
		    SELECT *
		            FROM (SELECT inner.*, ROWNUM rnum
		                FROM (
		                    SELECT p.*
		                    FROM product p
		                    <if test="categoryNum != 0">
								LEFT OUTER JOIN category c
		                        	ON p.categoryNum = c.categoryNum
							</if>
		                    WHERE TO_CHAR(regDate, 'YYYYMMDD') &gt;= ${baseDate}
		                        AND p.species = #{species}
		                        <if test="categoryNum != 0">
									AND c.parentCategory = #{categoryNum}
								</if>
		                    ORDER BY regDate DESC
		                ) inner
	               WHERE ROWNUM &lt;= #{endNum}
	           )
	           WHERE rnum &gt;= #{startNum}
		    ) p
		LEFT OUTER JOIN orderDetail od
		    ON p.productNum = od.productNum
		LEFT OUTER JOIN review r
		    ON od.orderDetailNum = r.orderDetailNum
		GROUP BY (p.productNum, productName, productClass, price, discountRate, discountAmount,
			thumbnail, species, brand, regDate)
	</select>
	
</mapper>