<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.petpal.mapper.ProductMapper">
	<select id="findById" parameterType="Long" resultType="com.shop.petpal.domain.Product">
		SELECT p.productNum, p.categoryNum, p.productClass, p.productStatus, p.species, 
            c.categoryName, p.productName, p.price, po.optionCount,
			p.discountRate, NVL(p.discountAmount,0) discountAmount, p.deliveryCharge, p.thumbnail, p.content, p.regDate, ps.totalStock,
			NVL(rating, 0) rating, NVL(reviewCount, 0) reviewCount,
			NVL(questionCount, 0) questionCount,
			TO_CHAR(startDate, 'YYYY-MM-DD HH24:MI') startDate,
			TO_CHAR(endDate, 'YYYY-MM-DD HH24:MI') endDate,
			NVL(showSpecial, 0) showSpecial
		FROM product p
		JOIN category c ON p.categoryNum = c.categoryNum
		LEFT OUTER JOIN (
			SELECT productNum, NVL(SUM(totalStock), 0) totalStock
			FROM productStock
			GROUP BY productNum
		) ps ON p.productNum = ps.productNum		
		LEFT OUTER JOIN specialDetail d ON p.productNum = d.productNum
		LEFT OUTER JOIN special s ON d.specialNum = s.specialNum
		LEFT OUTER JOIN (
			SELECT productNum, ROUND(AVG(rating), 1) rating, COUNT(*) reviewCount
			FROM review
			WHERE showReview = 1
			GROUP BY productNum
		) t ON p.productNum = t.productNum
        LEFT OUTER JOIN ( 
            SELECT productNum, COUNT(*) optionCount
            FROM productOption
            GROUP BY productNum
        ) po ON p.productNum = po.productNum
		LEFT OUTER JOIN (
			SELECT productNum, COUNT(*) questionCount
			FROM productQna
			WHERE showQuestion = 1			
			GROUP BY productNum
		) q ON p.productNum = q.productNum
		WHERE p.productStatus = 1 AND p.productNum = #{productNum};
	</select>
	
	<select id="listProductFile" parameterType="Long" resultType="com.shop.petpal.domain.Product">
		SELECT fileNum, productNum, fileName
		FROM productImage
		WHERE productNum = #{productNum}
	</select>
	
	<select id="listCategory" resultType="com.shop.petpal.domain.Product">
		SELECT categoryNum, categoryName, parentCategory, sortOrder, species
		FROM category
		WHERE species = #{species} AND parentCategory IS NULL
		ORDER BY sortOrder
	</select>
	
	<select id="listSubCategory" parameterType="Long" resultType="com.shop.petpal.domain.Product">
		SELECT categoryNum, categoryName, parentCategory, sortOrder, species
		FROM category
		WHERE parentCategory = #{parentCategory}
		ORDER BY sortOrder
	</select>
	
	<select id="listProductOption" parameterType="Long" resultType="com.shop.petpal.domain.Product">
		SELECT optionNum, optionName, productNum, parentOption
		FROM productOption
		WHERE productNum = #{productNum}
		ORDER BY parentOption NULLS FIRST, parentOption
	</select>
	
	<select id="listOptionDetail" parameterType="Long" resultType="com.shop.petpal.domain.Product">
		SELECT detailNum, optionValue, optionNum
		FROM optiondetail
		WHERE optionNum = #{optionNum}
		ORDER BY detailNum
	</select>


	
</mapper>