<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.petpal.admin.mapper.ReviewManageMapper">
	<select id="listReview" resultType="com.shop.petpal.admin.domain.ReviewManage">
	select rv.orderDetailNum,rv.rating, m2.userName, p.productName, detail.amount,rv.content, rv.reviewDate, rv.answer, rv.answerNum, rv.answerDate, rv.showReview
	from review rv
	JOIN member1 m1 ON rv.memberNum = m1.memberNum
	JOIN member2 m2 ON m1.memberNum = m2.memberNum
    JOIN product p ON rv.productNum = p.productNum
    JOIN orderDetail detail ON detail.orderDetailNum = rv.orderDetailNum	
		<where>
			<choose>
				<when test="gubun==1">
					rv.answerNum is null
				</when>
				<when test="gubun==2">
					rv.answerNum is not null
				</when>
			</choose>
		</where>
	 order by reviewDate DESC
	 OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>	
	
	<update id="updateReview" parameterType="com.shop.petpal.admin.domain.ReviewManage">
        UPDATE review 
        SET answer = #{answer}, answerDate = sysdate, answerNum = #{answerNum}
        WHERE orderDetailNum = #{orderDetailNum}
    </update>
    
    
    <select id="dataCount" parameterType="map" resultType="Integer">
    	SELECT NVL(COUNT(*),0)
    	FROM review
    	<where>
    		<choose>
    			<when test="gubun==1">
    				answerNum is null
    			</when>
    			<when test="gubun==2">
    				answerNum is not null
    			</when>
    		</choose>
    	</where>	
    </select>
    
    
    
	
</mapper>